<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2><%= t ".edit_post" %></h2>
      <%= render "form" %>
    </div>
  </div>
  <%= link_to t("admin.post.back_to_post"), admin_post_reviews_path %>
</div>
