<%= button_tag(type: 'submit', class: "btn like btn-primary btn-create", id: (@like.present? ? @like.id : 0), onclick: "create_like()") do %>
  <span class="glyphicon glyphicon-thumbs-up" id="create-like" ></span> <%=@post.likes.count.to_s + " " + t("post_reviews.like")%>
<% end %>
