<div class="container">

<div class="col-xs-12">
<div class="page-header">
        <h3>Bootstrap 3.3.0</h3>
        <p>Bootstrap item carousel | Developer TECHFONI</p>
    </div>
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
                <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 -->
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide2 -->
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                        <li class="col-sm-3">
              <div class="casing">
                <div class="thumbnail">
                  <iframe width="185.500" height="123.656" src="https://www.youtube.com/embed/F7ayGFHGqeQ"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="caption">
                  <h4>Item Title</h4>
                  <p>Hello world, something nice to develop</p>
                  <a class="btn btn-mini" href="#">» Read More</a>
                </div>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide3 -->
        </div>


     <nav>
      <ul class="control-box pager">
        <li class="left1"><a data-slide="prev" href="#myCarousel" class="arrowStil"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        <li class="right1"><a data-slide="next" href="#myCarousel" class="arrowStil"><i class="glyphicon glyphicon-chevron-right"></i></li>
      </ul>
    </nav>
     <!-- /.control-box -->

    </div><!-- /#myCarousel -->

</div><!-- /.col-xs-12 -->

</div><!-- /.container -->
