<fieldset>
  <div class="row">
    <div class="col-md-8">
      <%= f.text_field :content, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= link_to_remove_fields f %>
    </div>
  </div>
</fieldset>
