<fieldset>
  <div class="row">
    <div class="col-md-8">
      <%= f.collection_select :category_id, Category.all, :id, :name_with_initial, {},
        {class: "form-control"} %>
    </div>
    <div class="col-md-4">
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields %>
    </div>
  </div>
</fieldset>
