<div class="container">
  <div class="row">
    <tr>
      <td><h1><%= raw @post.title %></h1></td>
      <td><%= raw @post.content %></td>
    </tr>
    <%= link_to t("post_reviews.form.back_to_profile"), current_user %>
  </div>
</div>
