<%= form_tag "/search", method: :get, class: "navbar-form navbar-left fix-form-position" do %>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= text_field_tag :content, nil, placeholder: t("layouts.header.search"),
       class: "form-control search-input" %>
    </div>
    <div class="col-md-4 form-group">
      <%= select_tag "search_option", options_for_select([[t(".all"), :all],
       [t(".name"), :name], [t(".category"), :category], [t(".post"), :post]]),
       {class: "form-control search-input"} %>
    </div>
    <div class="col-md-2 form-group">
      <%= button_tag type: :submit, class: "btn btn-default search-input search-input" do %>
        <i class ="glyphicon glyphicon-search"></i>
      <% end %>
    </div>
  </div>
<% end %>
